html
  head
    title Louro Jose Pet Store - Painel do Cliente
    link(rel="stylesheet" type="text/css" href="/css/style.css")
    link(rel="stylesheet" type="text/css" href="/bootstrap-4.1.1/css/bootstrap.min.css")
  body
    #entirecontent
      #dynamicmenu
        nav.navbar.navbar-expand-md.navbar-dark.navbar-custom.fixed-top.nav-pills.nav-fill
          a.navbar-brand(href="#" onclick="load_products_client();")
            img.logo(src="../img/logo2.png" alt="")
          button.navbar-toggler(type="button" data-toggle="collapse" data-target="#collapsibleNavbar")
            span.navbar-toggler-icon
          #collapsibleNavbar.collapse.navbar-collapse
            ul.navbar-nav
              li.nav-item
                a.nav-link.menulinks(href="#" onclick="load_products_client();") PRODUTOS
              li.nav-item
                a.nav-link.menulinks(href="#" onclick="load_pets_client();") PETS
              li.nav-item
                a.nav-link.menulinks(href="#" onclick="load_animal_client();") ANIMAIS
              li.nav-item
                a.nav-link.menulinks(href="#" onclick="load_register_animal();") CADASTRO
              li.nav-item
                a.nav-link.menulinks(href="#" onclick="load_schedules();") AGENDAMENTOS
              li.nav-item
                a.nav-link.menulinks(href="#" onclick="load_profile_client();") PERFIL
              li.nav-item
                #user | Bem vindo, !{userName}!  
                  a(href="#" onclick="open_cart();")
                    img#sale(alt="Ver carrinho" src="../img/carrinho_icon.png")
                  a(href="#" onclick="reload_index();")
                    img#logout(alt="Sair" src="../img/logout.png")
                  br
      #clientcontent
        section.container.product_list
          #produtos_logged
      br
      .footer
        | 2018 - Grupo 6 | Introdução ao Desenvolvimento Web
        br
        | 				Todos os direitos reservados.
        script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js")
        script(type="text/javascript" src="/bootstrap-4.1.1/js/bootstrap.min.js")
        script(type="text/javascript" src="/js/page_allocation.js")
        script(type="text/javascript" src="/js/appdata.js")
        script(type="text/javascript").
          load_products_client();
